
 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your React App</title>
    <link rel="stylesheet" href="static/css/main.4fc2f9dd.css">
</head>
<body>
    <div id="root"></div>
    <script src="static/js/main.29216414.js"></script>
</body>
</html>   


{% comment %} 
 <!-- index.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Gallery</title>
    <link rel="stylesheet" href="{% static 'mainstyle.css' %}">
</head>
<body>
    <nav>
    <div class="header-logo">
        <img src="{% static 'images/Logo2 (2).png' %}" alt="Logo">
    </div>
        <ul>
            <li><a href="{% url 'main:gallery' %}">Home</a></li>
            <li><a href="{% url 'main:caption_view' %}">Upload</a></li>
            <li><a href="{% url 'main:delete_page' %}">Delete</a></li> <!-- Delete 페이지 링크 추가 -->
            <!-- 네비게이션 바에 검색 페이지 링크 추가 -->
            <li><a href="{% url 'main:search_image' %}">Search</a></li>
        </ul>
        
    </nav>
    
   
    <section class="home-section">
        <div class="gallery-result">
            {% for image in images %}
            <div class="image-card">
                <img src="{{ image.image.url }}" alt="Uploaded Image" class="uploaded-image">
                <div class="caption">
                    {% if image.translated_caption %}
                        <p>{{ image.translated_caption }}</p>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</body>
</html>  {% endcomment %}