<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Captioning with AI</title>
    <link rel="stylesheet" href="{% static 'upload.css' %}">
    <script>
        // 이미지가 선택될 때 호출되는 함수
        function showSelectedImageName() {
            var input = document.getElementById("image-upload");
            var fileNameDisplay = document.getElementById("file-name-display");
            if (input.files && input.files[0]) {
                fileNameDisplay.innerHTML = "Selected Image: " + input.files[0].name;
            } else {
                fileNameDisplay.innerHTML = "No image selected.";
            }
        }
    </script>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'main:gallery' %}">Home</a></li>
            <li><a href="{% url 'main:caption_view' %}">Upload</a></li>
            <li><a href="{% url 'main:delete_page' %}">Delete</a></li>
            <li><a href="{% url 'main:search_image' %}">Search</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>Image Captioning with AI</h1>
        <form action="{% url 'main:caption_view' %}" method="POST" enctype="multipart/form-data" class="upload-form">
            {% csrf_token %}
            <div class="upload-wrapper">
                <label for="image-upload" class="custom-file-upload">
                    <i class="fa fa-cloud-upload"></i> Choose an Image
                </label>
                <input type="file" id="image-upload" name="image" accept="image/*" required style="display: none;" onchange="showSelectedImageName()">
                <div id="file-name-display">No image selected.</div>
                <button type="submit" class="submit-button">Generate Caption</button>
            </div>
        </form>

        {% if translated_caption %}
        <div class="caption-display">
            <h3>Translated Caption:</h3>
            <p>{{ translated_caption }}</p>
            {% if image_url %}
                <img src="{{ image_url }}" alt="Uploaded Image" class="uploaded-image">
            {% endif %}
        </div>
        {% endif %}
    </div>
    <footer>
        <a href="{% url 'main:gallery' %}">Return to home</a>
    </footer>
</body>
</html>
